body{
	background-color: black;
	color: white;
}

div{
	position: relative;
	width: 70%;
	margin: 0 auto;
	padding: 10px;
	text-align: left;
	border-bottom: solid 1px white;
}

img{
	box-sizing: border-box;
	width: 300px;
	height: auto;
}